.component {
  margin: 20px;
  padding: 10px;
  width: 250px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background: rgba(36, 35, 34, 0.5);
}

.widecomponent {
  margin: 20px;
  padding: 10px;
  width: 500px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background: rgba(36, 35, 34, 0.5);
}

.name {
  color: #ebeb34;
  font-size: 24px;
  font-family:cursive;
  font-weight: bolder;
  text-align: center;

}
.delete {
  color: #fc0339;
  margin: 20px;

}
#deleteNote {
  color: red;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }

}
.edit {
  color: #2ac722;
}

ul.component-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li.component-item {
  display: inline;
  display: flex;
  /* flex-wrap: wrap; */

}

.navLink {
    font-size: 15px;
    display: inline;
    background-color: #ebeb34;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 5px 2px 5px ;
    outline-color: green;
  }

  input {
    font-size: 18px;
    background-color: #f5f3f0;
    color: black;
  }

  select {
    font: 18px Arial;
    text-decoration: none;
    background-color: #f5f3f0;
    color: black;
    padding: 2px 6px 2px 6px;
    /* border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC; */
  }

body {

background-image: url('../images/orchestra-2098877_640.jpg');
background-size: cover;
opacity: 100%;
background-repeat: no-repeat;
background-color: black;
height: 125vh;
font-family: sans-serif ;
}
#root {
  margin-top: 80px;
  padding: 30px;
}

.main-image{
  width:120%;
  height:120%;

}
header {
    background-color: #e35327;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
     display: flex;
     align-items: center;
}
h1 {
  color: yellow;
  text-align: left;
}
h3 {
  color: yellow;
}
.subHeading {
  color: yellow;
}
#blurb {
  color: yellow;
  text-align:inherit;
  font-size: 15px;
  font-style: italic;
}
body img {
  filter:grayscale(100%);

}
header * {
    display: inline;
    /* display: flex; */
}
header img {
  height: 80px;
margin-left: 40px;
filter:grayscale(20%)
}
header li {
    margin: 20px;
}

a {
    color: black;
}
footer {
  color: yellow;
  position: fixed;
  bottom: 0;
  margin-left: 10px ;
}


button {
  font: 18px Arial;
  text-decoration: ;

  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
